<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>osuMusicQuiz</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
        body {
            text-align: center;
            font-family: Sen, sans-serif;
            margin-top: 20%;
        }
    </style>

</head>
<body>
    <h1>OMQ is currently under maintenance. Please check back later! </h1>
    <a href="https://discord.gg/FPEcThUyjy" target="_blank">
        OMQ discord
    </a>
</body>
</html>